<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!-- Online using Office 365 -->
    <!--<add name="CrmOnline" connectionString="Url=https://genericinsurancedemo.crm4.dynamics.com/; Username=jide@genericinsurancedemo.onmicrosoft.com; Password=pass@word1;" />-->
    <!--<add name="Server=CRM Online, organization=org849a1eb4, user=jide" connectionString="Url=https://genericinsurancedemo.crm4.dynamics.com; Username=jide@mytestinstance.onmicrosoft.com; Password=pass@word1; authtype=Office365" />-->
    <!--<add name="CrmOnlineStringFromAppConfig" connectionString="AuthType=Office365;Username=jide@mytestinstance.onmicrosoft.com; Password=pass@word1;Url=https://org849a1eb4.crm4.dynamics.com"/>-->
    <!--<add name="claimsDBCS" connectionString="Data Source=OLU; Initial Catalog=CornerstoneInsurance;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <!--Azure SQL-->
    <!--Server=tcp:olu.database.windows.net,1433;Initial Catalog=CornerstoneInsurance;Persist Security Info=False;User ID=bantalejide;Password=@DateTime.Now123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;-->
    <add name="claimsDBCS" connectionString="Server=tcp:olu.database.windows.net,1433;Initial Catalog=CornerstoneInsurance;Persist Security Info=False;User ID=bantalejide;Password=@DateTime.Now123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

    <!--Somee-->
    <!--<add name="claimsDBCS" connectionString="workstation id=CornerstoneInsurance.mssql.somee.com;packet size=4096;user id=crmentity_SQLLogin_1;pwd=u34pnyxi43;data source=CornerstoneInsurance.mssql.somee.com;persist security info=False;initial catalog=CornerstoneInsurance" providerName="System.Data.SqlClient" />-->
    <!--workstation id=CornerstoneInsurance.mssql.somee.com;packet size=4096;user id=crmentity_SQLLogin_1;pwd=u34pnyxi43;data source=CornerstoneInsurance.mssql.somee.com;persist security info=False;initial catalog=CornerstoneInsurance-->
  </connectionStrings>

  <appSettings>
    <!--For information on how to register an app and obtain the ClientId and RedirectUrl
        values see https://msdn.microsoft.com/dynamics/crm/mt149065 -->
    <!--Active Directory application registration. -->

    <!--These are dummy values and should be replaced with your actual app registration values.-->
    <add key="ClientId" value="2a958d6e-ea96-4aa5-af3e-a5329c00db18" />
    <add key="RedirectUrl" value="http://cornerstone.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="urlName" value="https://genericinsurancedemo.api.crm4.dynamics.com/XRMServices/2011/Organization.svc" />

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>